
.parent {
  
  justify-content: center;
  background: rgba(176, 185, 0, 0.314);
  opacity: 0.5;  
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.homepagecss{
  justify-content: center;
 background: rgba(163, 151, 151, 0.4);
  
  width: 100%;
}

a{
  color: black;
}

.align{
  align-content: right;
}