<mat-toolbar>
  <mat-toolbar-row class="parent">
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Registration </a>
      <a mat-button [routerLink]="'/create-account'"> login </a>
 

    </div>
  </mat-toolbar-row>

  
</mat-toolbar>
  
<!-- <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav> -->
<!-- 
<div class="card m-5" style="width:18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
  </ul>
</div> -->


