<mat-toolbar class="homepagecss">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button> -->
    <h1 class="h1"><a href="https://www.notlhydro.com/" rel="home">Niagara On The Lake Hydro Inc.</a></h1>
    <span class="menu-spacer"></span>
    <div class="align">
      <a mat-button [routerLink]="'/user/registration'"> Registration </a>
      <a mat-button [routerLink]="'/login'"> login </a>
 

    </div>
  </mat-toolbar-row>
  
</mat-toolbar>


  <h1>HomePage in progress</h1>

