
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.center {
    margin-left: auto;
    margin-right: auto;
  }
  .black {
    color: black;
  }
  .linkcss{
    text-align: center;
    color: rgb(53, 242, 154);
    font-weight: bold;
  }

