/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("https://images8.alphacoders.com/998/998324.jpg");
    background-size: cover;                   
    background-repeat: no-repeat;
    background-position: center center;
}
    h2 {
        text-align: center;
      }

      .example {
        text-align: center;
      }

      .linkcss{
        text-align: center;
        color: blue;
      }
